body{
    margin:0 auto;
    width:80%;
}
#head{
    display:block;
    width:100%;
}
#user{
    float:right;
}
#wrapper{
    display:block;
}
#today{
    width:60%;
    height:470px;
    float:left;
    margin:20px;
    border:5px solid red;
}
#content{
    width:35%;
    height:600px;
    border:5px solid red;
    float:right;
    margin-top: 10%;
}
#menu{
    width:60%;
    height:400px;
    margin:20px;
    float:left;
    border:5px solid red;
}