body {
    margin: 0 auto;
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
    background-size: cover;
    background: url('homepage.png') fixed no-repeat;
}

.container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;

}

#head {
    width: 100%;
    float: left;

}

#homebutt {
    float: left;
}

#user {
    float: right;
}

#wrapper {
    display: block;
}
/*新闻标题及内容div*/
#today {
    width: 60%;
    min-height: 100%;
    float: left;
    margin: 20px;
    border: 2px solid lightslategray;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

#today table {
    width: 80%;
    margin: 20px auto;
}
#title1{
    width:75%;
}
#today button{
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid lightslategray;
}
#today a{
    color: #000000;
    text-decoration: none;
}
/*按钮动态效果*/
#list1{
    background: white;
    text-align: center;
    width: 120px;
    list-style: none;
    line-height: 40px;
    border-radius: 5px;
    position: absolute;
    top: -120px;
    z-index: 1;
    text-align: center;
}
#list2{
    background: white;
    text-align: center;
    width: 120px;
    list-style: none;
    line-height: 40px;
    border-radius: 5px;
    position: absolute;
    top: -120px;
    z-index: 1;
    text-align: center;
}

#text1:hover ~ #list1{
    top: 60px;
    transition-duration: 0.5s;
}
#list1:hover{
    top: 60px;
}
#text2:hover ~ #list2{
    top: 60px;
    transition-duration: 0.5s;
}
#list2:hover{
    top: 60px;
}

#news {
    width: 80%;
    margin: 15px auto;
}

#newsTitle {
    margin-top: 10px;
    text-align: center;

}

#logbutt {
    width: 75px;
    height: 30px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}
/*图片轮播div*/
#picturejs {
    margin: 20% auto;
}

#wrap {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 100px;
    margin: 100px auto 0;
}

#wrap .img-list {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

#wrap .img-list img {
    width: 100%;
    height: 100%;
}

#wrap a{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 40px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    user-select: none;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

#wrap a.left {
    left: 0;
}

#wrap a.right {
    right: 0;
}
/*发表评论区div*/
#comment_area {
    width: 60%;
    height: 30%;
    float: left;
    margin: 20px;
    border: 2px solid lightslategray;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;

}

#comment_area form {
    width: 100%;
    height: 100%;

}

#commentbutt {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment_text {
    width: 80%;
    height: 70%;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    border: 2px solid lightslategray;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
}
/*已发评论*/
#discussion_area {
    width: 30%;
    min-height: 30%;
    float: left;
    margin: 20px;
    border: 2px solid lightslategray;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

#discussion_area table {
    margin: 0 auto;
    padding: 10px;
    table-layout:fixed;

}

#discussion_area p {
}

#discussion_area td {
    word-wrap: break-word;
    word-break: break-all;
}

#time {
    width: 30%;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #b7c9ea;
    border-radius: 10px;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
}

li a:hover {
    background-color: #ffffff;
}
li a::before{
    transition: all 0.5s;
}
