body{
    margin:0 auto;
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
    background-size: cover;
    background: url('homepage.png') fixed no-repeat;
}
.container{
    width: 80vw;
    height: 80vh;
    margin:0 auto;

}
#head{
    width:100%;
}
#user{
    float:right;
}
#wrapper{
    display:block;
}
#today{
    width:80%;
    height:100%;
    float:left;
    margin:20px;
    border:2px solid lightslategray;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
#logbutt{
    width:75px;
    height:30px;
    margin-top: 15px;
    border-radius:8px;
}
